.navbar{
    height: 100px;
}
.banner-img-1{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    height: 100vh;
}
.banner-img-2{
    background-image: url(../images/pexels-jasmine-carter-888899.jpg);
    background-position: center;
    
    
    height: 100vh;
}
.banner-img-3{
    height: 100vh;
}

.every{
    margin-top: 100px;
}
.text-secondary{
    background-color: lightskyblue !important;
}
.package{
    height: 400px;
    width: 292px;
    box-shadow: 10px 5px 5px rgba(255, 0, 0, 0.055);
    border-radius: 10px;
    color: aliceblue;
    background-color: #3F87F5;
}

